body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: #555;
}

a {
  color: rgb(0, 96, 96);
}

#test{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  border: 1px solid black;
  width: 1024px;
  }
.card{
  padding: 5px;
  border: 1px solid black;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 4px;
  margin-right: 4px;
}

@media screen and (max-width:768px){
  #test{
      width: 100%;
      margin: 70px auto auto auto;
      background-color: white;
      border-radius: 4px;
  }.card{
    padding: 5px;
    border: 1px solid black;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 2px;
    margin-right: 2px;
  }
}
